@import './theme-colors.scss';
.App {
  ::-webkit-scrollbar {
    width: 10px;
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba($color-black, 0.3);
    background-color: $color-gray;
  }
}

/**********************************************************/

.MuiGrid-container {
  align-items: center;
}
